<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.metacar.mapper.RentalMapper">



    <resultMap type="Have_CarDTO" id="HaveCar">
        <id column="carnum" property="carNum"/>
        <result column="carkind" property="carKind"/>
        <result column="sczonenum" property="sczoneNum"/>
        <result column="carmaking" property="carMaking"/>
        <result column="carmodel" property="carModel"/>
        <result column="cargas" property="carGas"/>
        <result column="careff" property="carEff"/>
        <result column="reservenow" property="reserveNow"/>
        <association property="distanceDto" resultMap="Distance"></association>
    </resultMap>

    <resultMap type="Rental_CarDTO" id="RentalCar">
        <id column="reservenum" property="reserveNum"/>
        <result column="id" property="id"/>
        <result column="reservetime" property="reserveTime"/>
        <result column="usetime" property="useTime"/>
        <result column="returnadd" property="returnAdd"/>
        <result column="sczonenum" property="sczoneNum"/>
        <result column="carnum" property="carNum"/>
        <result column="reservenow" property="reservenow"/>
    </resultMap>

    <resultMap type="DistanceDTO" id="Distance">
        <id column="carkind" property="carkind"/>
        <result column="howmuch" property="howmuch"/>
    </resultMap>

    <select id="carGet" resultMap="HaveCar">
        select carnum, hc.carkind, sczonenum, carmaking, carmodel, cargas, careff, reservenow, howmuch
        from have_car hc, distance d
        where hc.carkind=d.carkind
          and carnum=#{carNum}
    </select>

    <insert id="carRental">
        insert into rental_car
        values(reserve_seq.nextval, #{id}, sysdate, #{useTime}, #{returnAdd}, #{sczoneNum}, #{carNum}, 'o' )
    </insert>

    <update id="carUpdate">
        update have_car
        set reservenow = 'o'
        where carnum = #{carNum}
    </update>

    <insert id="carCancel" >
        insert into cancel_car
        values( #{reserveNum}, #{id}, #{cancelWhy}, sysdate)
    </insert>

    <update id="carCancelox">
        update rental_car
        set reservenow = 'x'
        where reservenum = #{reserveNum}
    </update>

    <update id="cancelUpdate">
        update have_car hc
        set hc.reservenow = 'x'
        where hc.carnum = #{carNum}
    </update>

    <select id="getCarnum" resultType="string">
        select carnum from rental_car
        where reservenum = #{reserveNum}
    </select>

    <select id="getCancel" resultType="Cancel_CarDTO">
        select * from cancel_car where id = #{id}
        ORDER BY reservenum
    </select>

    <select id="getRental" resultType="Rental_CarDTO">
        select * from rental_car
        where id= #{id}
          and reservenow = 'o'
    </select>

    <select id="canRental" resultType="Rental_CarDTO">
        select * from rental_car
        where carnum = #{carNum}
          and reservenow = 'o'
    </select>


</mapper>